
* {
	margin: 0; 
    padding: 0;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	/*background-color: #444;*/
	background-image: url("space.jpg");
	background-size: 100%;
	color: #FFFFCC;
	text-align: center;
}

#topBar {
	width: 100%;
	height: 50px;
	position: fixed;
    background-color: black;
}

#homeLink {
	text-decoration: none;
}

#silkImg {
	margin: 9px;
	display: inline-block; 
	width: 64px; 
	height: 32px;
}

h1 {
	font-size: 80px;
	/*color: #00CCFF;*/
}

a {
	color: red;
}

a:hover {
	color: maroon;
}

.label {
	width: 100px;
	display: inline-block;
}

input[type=text] {
	width: 300px;
	display: inline-block;
}

.splitScreen {
	/*height: 100%;*/
    width: 100%;
}

.floater {
	float: left;
    width: 40%;
}

.fill {
	position: absolute;
	height: 100%;
	width: 100%;
}

/*#top {
	position: fixed;
	width: 100vmin;
	height: 100vmin;
}*/

.node {
	position: absolute;
	/*outline: thick solid #FFF;*/
	width: 5vmin;
	height: 5vmin;
/*	line-height: 5vmin;
*/	text-align: center;
	/* this seems to work sorta: */
	/*font-size: 100%;*/
	cursor: pointer;
}

.button {
	position: relative;
	background-color: #CCC;
	color: #333;
	padding: 10px 13px 7px 13px;
	display: block;
	float: left;
	margin: 10px 0px 10px 10px;
	cursor: pointer;
}

.button:hover {
	background-color: #333;
	color: #CCC;
}

#home {
	/*position: absolute;
	width: 100%;
	text-align: left;
	padding: 10px;*/
	display: block;
	float: left;
	padding: 10px;
}

#contents {
	margin: auto;
	max-width: 960px;
}

#innerContents {
	margin: 0 80px;
	background: rgba(255, 255, 255, 0.75);
	padding: 20px;
	color: navy;
	font-size: 16pt;
}

ul {
    list-style-type: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0px auto;
}
th,td {
    padding: 5px;
}

